{% extends "base_generic.html" %}

{% block content %}
    <h1>Streaming List</h1>
    {% if lectureinstance_list %}
    <ul>
        {% for lectureinstance in lectureinstance_list %}
            <li>
                <a href="{% url 'lecture-detail' lectureinstance.lecture.pk %}">{{ lectureinstance.lecture.title }}</a>
{#                {% if lectureinstance.get_queryset %}#}
{#                    <a href="{% url 'lecture-detail' lectureinstance.lecture.pk %}">{{ lectureinstance.lecture.title }}</a>#}
{#                {% endif %}#}
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>There are no lectures...</p>
    {% endif %}
{% endblock %}