{% extends "base_generic.html" %}

{% block content %}
    <h1>Lecture List</h1>
    {% if perms.e_learning.can_modified_remain_time %}<a href="{% url 'lecture_create' %}"> [Create]</a>{% endif %}
    {% if lecture_list %}
    <ul>
        {% for lecture in lecture_list %}
            <a>
                <a href="{{ lecture.get_absolute_url }}">{{ lecture.title }}</a>
                {% if perms.e_learning.can_modified_remain_time %} / <a href="{% url 'lecture_update' lecture.id %}" style="color:green" /> [Update] </a> {% endif %}
                {% if perms.e_learning.can_modified_remain_time %} / <a href="{% url 'lecture_delete' lecture.id %}" style="color:red" /> [Delete] </a> {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>There are no lectures...</p>
    {% endif %}
{% endblock %}