{% extends "base_generic.html" %}

{% block content %}
    <h1>Professor List</h1>
    {% if perms.e_learning.can_modified_remain_time %}<a href="{% url 'professor_create' %}"> [Create]</a>{% endif %}
    {% if professor_list %}
    <ul>
        {% for professor in professor_list %}
            <li>
                <a href="{{ professor.get_absolute_url }}">{{ professor.last_name }} {{ professor.first_name }} ({{professor.date_of_birth }} - )</a>
                {% if perms.e_learning.can_modified_remain_time %} / <a href="{% url 'professor_update' professor.id %}" style="color:green" /> [Update] </a> {% endif %}
                {% if perms.e_learning.can_modified_remain_time %} / <a href="{% url 'professor_delete' professor.id %}" style="color:red" /> [Delete] </a> {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>There are no professors...</p>
    {% endif %}
{% endblock %}